#dropdiv {
    position: absolute;
    right: 300px;
    left: 300px;
    top: 80px;
    bottom: 1px;
    padding: 10px;
    border: 1px solid #00021d;
    background: white;
}


.red_border_figure {
    fill: chocolate;
    stroke: cornflowerblue;
    height: 150px;
}
