/*rect.draw2d_ResizeHandle*/
/*{*/
/*    fill: rgba(255, 0, 0, 0);*/
/*    stroke: rgba(255, 0, 0, 0);*/
/*}*/

#dropdiv {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 50px;
    bottom: 50px;
    padding: 10px;
    border: 1px solid #00021d;
    background: lightgrey;
}


.timeseries {
    fill: red;
    stroke: indianred;
    height: 150px;
}
.string {
    fill: yellow;
    stroke: yellowgreen;
    height: 150px;
}
.boolean {
    fill: blue;
    stroke: cornflowerblue;
    height: 150px;
}
